<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Dispute!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>

  <body>
    <nav class="navbar-color gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Dispute</a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/topics">Topics</a>
          </li>
          <li>
            <a class="btn-floating btn-xs waves-effect waves-light">
              <i class="material-icons">fingerprint</i>
            </a>

          </li>
        </ul>
      </div>
    </nav>
    <main role="main">
      <div class="container">
        <p class="alert alert-info m-t-30" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger m-t-30" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text"></h5>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <img src="https://files.readme.io/PKPqx8L9TJSAY2Bnmw7F_phoenixframework-logo-white@2x.png" alt="" class="right" style="max-height: 25px;">
          <div class="grey-text text-lighten-3 m-r-10 right">Powered by </div>
          <div class="grey-text text-lighten-4 left">2018 |</div>
          <a class="grey-text text-lighten-4 m-l-5 left" href="">MIT License</a>
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
