<h5 class="col s12 header">Add your comment</h5>
<%= form_for @comment_changeset, topic_comment_path(@conn, :create, @topic), fn f -> %>
  <div class="form-group">
    <div class="input-field col s12">
      <%= text_input f, :body, class: "validate" %>
      <%= label f, :body, class: "" %>
      <%= error_tag f, :body %>
    </div>
  </div>
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
