.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.header {
  color: #ee6e73;
  font-weight: 300;
  line-height: 90px;
}

.card.small .card-image {
  max-height: 75%!important;
  overflow: hidden;
}

.card.small {
  height: 245px!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}
